{% extends 'users/base.html' %}

{% block title %}Your Favorite Restaurants{% endblock %}

{% block content %}
    <div class="container-fluid p-3 my-3"> <!-- Changed to container-fluid for full width -->
        <h1 class="text-center">Your Favorite Restaurants</h1>

        <ul class="restaurant-list w-100">
            {% for favorite in favorites %}
                <li class="restaurant-item">
                    <span class="restaurant-number">{{ forloop.counter }}.</span>
                    <h2>{{ favorite.restaurant_name }}</h2>
                    <a href="{% url 'restaurant_details' favorite.restaurant_place_id %}">View Details</a>
                </li>
            {% empty %}
                <li class="empty-message">You have no favorite restaurants yet.</li>
            {% endfor %}
        </ul>
    </div>

    <style>
        h1 {
            color: #333;
            margin-bottom: 20px;
            font-size: 2.5em;
            text-align: center;
        }

        .restaurant-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .restaurant-item {
            background-color: white;
            border-radius: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 10px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            width: 100%; /* Ensures full width for the restaurant items */
        }

        .restaurant-item:hover {
            transform: translateY(-5px);
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        }

        .restaurant-item h2 {
            color: #4a4a4a;
            margin: 0;
            font-size: 1.5em;
            flex: 1;
        }

        .restaurant-number {
            font-size: 1.5em;
            color: #4a4a4a;
            margin-right: 10px;
        }

        .restaurant-item a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            display: inline-block;
            margin-left: 20px;
            padding: 10px 15px;
            background-color: #f3b6c4;
            border-radius: 5px;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        .empty-message {
            color: #777;
            font-size: 1.2em;
            text-align: center;

        }
        .container-fluid{
            background-color: white;
        }
    </style>
{% endblock %}
